/-1.14-windows.xml
/.anaconda
/.android
/.bash_history
/.cache
/.codota-id
/.conda
/.condarc
/.config
/.continuum
/.crashlytics
/.defaults-0.1.0.ini
/.dotnet
/.eclipse
/.emulator_console_auth_token
/.gitconfig
/.gradle
/.idlerc
/.ipynb_checkpoints
/.ipython
/.jdks
/.jupyter
/.m2
/.matplotlib
/.objectbox-build.properties
/.p2
/.spyder-py3
/.ssh
/.tabnine
/.tooling
/.VirtualBox
/.vscode
/a.out
/aamp1.pdf
/aamp2.pdf
/akc1.c
/akc1.exe
/anaconda3
/AndroidStudioProjects
/AppData
/bin_search.cpp
/bin_search.exe
/Bookll.cpp
/Bookll.exe
/bsearch8.c
/bsearch8.exe
/Btree.cpp
/Btree.exe
/Btreecpp.cpp
/bubblesort.cpp
/bubblesort.exe
/bubblesort.txt
/bubb_sort.cpp
/bubb_sort.exe
/cb_2ddynamic.cpp
/cb_2ddynamic.exe
/cb_activity_selection_problem.cpp
/cb_activity_selection_problem.exe
/cb_bitCalculations.cpp
/cb_bitCalculations.exe
/cb_bsearch_algo.cpp
/cb_bsearch_algo.exe
/cb_bsearch_sqrt.cpp
/cb_bsearch_sqrt.exe
/cb_builtin_sort.cpp
/cb_builtin_sort.exe
/cb_BusyMan.cpp
/cb_BusyMan.exe
/cb_coinchange.cpp
/cb_coinchange.exe
/cb_crux.txt
/cb_cuttingrod_dp2.cpp
/cb_cuttingrod_dp2.exe
/cb_dp_fibb_bottomup.cpp
/cb_dp_fibb_bottomup.exe
/cb_dp_fibb_topdown.cpp
/cb_dp_fibb_topdown.exe
/cb_dp_fibb_topdown.txt
/cb_dynamicarrayret.cpp
/cb_dynamicarrayret.exe
/cb_firstocc_manual.cpp
/cb_firstocc_manual.exe
/cb_fn.cpp
/cb_fn.exe
/cb_helprahul
/cb_helprahul..cpp
/cb_helprahul1.cpp
/cb_helprahul1.exe
/cb_helprahul2.cpp
/cb_helprahul2.exe
/cb_indianCoinDp.cpp
/cb_indianCoinDp.exe
/cb_indianCoinDp_bottomup.cpp
/cb_indianCoinDp_bottomup.exe
/cb_indian_money.cpp
/cb_indian_money.exe
/cb_ladderProblem.cpp
/cb_ladder_bottomUp.cpp
/cb_ladder_bottomUp.exe
/cb_ladder_topUp.cpp
/cb_ladder_topUp.exe
/cb_LinearSearcht.cpp
/cb_LinearSearcht.exe
/cb_loadbalancer.cpp
/cb_loadbalancer.exe
/cb_loadbalancer2.cpp
/cb_loadbalancer2.exe
/cb_LS2.cpp
/cb_LS2.exe
/cb_magic_number_xor.cpp
/cb_magic_number_xor.exe
/cb_minimum_steps_top.cpp
/cb_minimum_steps_top.exe
/cb_minimum_steps_top.txt
/cb_mini_steps_bottomUp.cpp
/cb_mini_steps_bottomUp.exe
/cb_MinMax.cpp
/cb_MinMax.exe
/cb_next_perm_prob.cpp
/cb_next_perm_prob.exe
/cb_nqueen.cpp
/cb_returningpointer.cpp
/cb_returningpointer.exe
/cb_revise.cpp
/cb_revise.exe
/cb_rodCutting_dp.cpp
/cb_rodCutting_dp.exe
/cb_rotate_algo.cpp
/cb_rotate_algo.exe
/cb_stlalgo.cpp
/cb_stlalgo.exe
/cb_stlquiz.cpp
/cb_stlquiz.exe
/cb_vector1.cpp
/cb_vector1.exe
/cb_vector_cabLocation.cpp
/cb_vector_cabLocation.exe
/cb_vector_cab_using_class.cpp
/cb_vector_cab_using_class.exe
/cb_wines_dp_topdown.cpp
/cb_wines_dp_topdown.exe
/cdll.cpp
/cdll.exe
/cf_ChefandString.cpp
/cf_ChefandString.exe
/cf_chopstics.cpp
/cf_chopstics.exe
/cf_election.cpp
/cf_election.exe
/cf_election.txt
/cllrv.cpp
/cllrv.exe
/cm2dvector.cpp
/cm2dvector.exe
/cmhashashing.cpp
/cmhashashing.exe
/cmsll.cpp
/cmvector.cpp
/cmvector.exe
/cm_pairsum.cpp
/cm_pairsum.exe
/cm_phonebook.cpp
/cm_phonebook.exe
/codelab-friendlychat-android
/codeproject
/Contacts
/cp2.py
/cptest.py
/Creative Cloud Files
/dbjwfbd.py
/Desktop
/digitalroot.cpp
/digitalroot.exe
/dllrv.cpp
/dllrv.exe
/Documents
/Downloads
/droot.cpp
/drt.cpp
/drt.exe
/dsRevLL2.cpp
/dsRevLL2.exe
/dsRev_LL.cpp
/dsRev_LL.exe
/DSRev_LLfull.cpp
/dtr.c
/dtr.exe
/dwhelper
/eclipse
/eclipse-workspace
/Favorites
/firstpyt.py
/football2.cpp
/football2.exe
/Footballpc2.cpp
/Footballpc2.exe
/gcptest1.cpp
/ghg.c
/ghg.exe
/hcr1.cpp
/hcr1.exe
/hcr2.cpp
/hcr2.exe
/huffmanCode.cpp
/huffmanCode.exe
/IdeaProjects
/inbuilt_sort_cb.cpp
/inbuilt_sort_cb.exe
/inser_sort.cpp
/inser_sort.exe
/IntelGraphicsProfiles
/kck1.cpp
/kck1.exe
/lc_removedupe.cpp
/lc_removedupe.exe
/leetcode128.txt
/LevelOrderBT.cpp
/LevelOrderBT.exe
/Librarypc3.cpp
/Librarypc3.exe
/Linked List.ipynb
/Links
/llagain.cpp
/llagain2.py
/llagain2cpp.cpp
/lllt.cpp
/lllt.exe
/llpy.py
/lsearch8.cpp
/lsearch8.exe
/Lstry.cpp
/Lstry.exe
/markspc1.cpp
/markspc1.exe
/material-components-android-codelabs
/material-dialogs
/MicrosoftEdgeBackups
/Milestone1.ipynb
/Music
/myfile.txt
/mypyt.ipynb
/my_new_file.txt
/newfirst.ipynb
/newkeybn.cpp
/nqfinal_hopefully.cpp
/nqfinal_hopefully.exe
/nQn.cpp
/nQnkhudse.cpp
/nQnkhudse.exe
/nqnn.cpp
/nqnn.exe
/nQrow.cpp
/nQrow.exe
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{c67bf538-5f26-11ec-b65c-ca69b71ef20a}.TM.blf
/NTUSER.DAT{c67bf538-5f26-11ec-b65c-ca69b71ef20a}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{c67bf538-5f26-11ec-b65c-ca69b71ef20a}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/oop in python.ipynb
/opq.cpp
/opq.exe
/optimal_merge.cpp
/optimal_merge.exe
/optimal_merge_using_pq.cpp
/optimal_merge_using_pq2.cpp
/optimal_merge_using_pq2.exe
/p4.c
/p4.exe
/palindroome.c
/palindroome.exe
/pc1foth.cpp
/pc1foth.exe
/pc7.c
/pc7.cpp
/pc7.exe
/pc7b.cpp
/pc9.cpp
/pc9.exe
/pg1.cpp
/pg1.exe
/pg2.cpp
/pg333.cpp
/Pictures
/Practice1.ipynb
/Practice2.ipynb
/ptrcbtst.cpp
/ptrcbtst.exe
/ptrrrr.cppp.cpp
/ptrz.cpp
/PycharmProjects
/PyCoursera.ipynb
/q1.cpp
/quicksort_pvt_at_last.cpp
/quicksort_pvt_at_last.exe
/realnq.cpp
/result1.c
/result1.cpp
/result1.exe
/resultpc1.c
/rpay.txt
/Saved Games
/search8.cpp
/Searches
/selec_sort.cpp
/sel_sort.cpp
/sel_sort.exe
/seqsearch.c
/seqsearch.exe
/sllcppvc.cpp
/sllcppvc.exe
/sllfull.cpp
/sllfull.exe
/sllrvf.cpp
/sllrvf.exe
/sllrvf2.cpp
/sllrvf2.exe
/source
/stringtest.cpp
/stringtest.exe
/subarray.cpp
/subarray.exe
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.py
/Tentask1notes.txt
/test2.cpp
/test2.exe
/test22.cpp
/test22.exe
/theme.pdf
/TOHtry.cpp
/TOHtry.exe
/treepc.cpp
/treepc.exe
/umap.cpp
/umap.exe
/Untitled.ipynb
/Untitled1.ipynb
/Untitled10.ipynb
/Untitled11.ipynb
/Untitled12.ipynb
/Untitled13.ipynb
/Untitled14.ipynb
/Untitled15.ipynb
/Untitled16.ipynb
/Untitled17.ipynb
/Untitled18.ipynb
/Untitled19.ipynb
/Untitled2.ipynb
/Untitled20.ipynb
/Untitled21.ipynb
/Untitled22.ipynb
/Untitled23.ipynb
/Untitled24.ipynb
/Untitled25.ipynb
/Untitled26.ipynb
/Untitled27.ipynb
/Untitled28.ipynb
/Untitled29.ipynb
/Untitled3.ipynb
/Untitled30.ipynb
/Untitled31.ipynb
/Untitled4.ipynb
/Untitled5.ipynb
/Untitled6.ipynb
/Untitled7.ipynb
/Untitled8.ipynb
/Untitled9.ipynb
/upperbound_prac.cpp
/upperbound_prac.exe
/variable_expt
/Videos
/virtual.cpp
/virtual.exe
/VirtualBox VMs
/vscodehw.cpp
/vscodehw.exe
/whiletest.cpp
/whiletest.exe
/OneDrive
/Application Data
/Cookies
/Local Settings
/My Documents
/NetHood
/PrintHood
/Recent
/SendTo
/Start Menu
/Templates